<html>
  <head>
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body>
    <div class="container w-40 bg-white gap-2 mb-5">
      <div class="item-a bg-gray text-white p-2 rounded">A</div>
      <div class="item-b bg-gray text-white p-2 rounded">B</div>
      <div class="item-c bg-gray text-white p-2 rounded">C</div>
      <div class="item-d bg-gray text-white p-2 rounded">D</div>
      <div class="item-e flex-1 bg-gray text-white p-2 rounded">E</div>
    </div>
    <div class="flex flex-col w-40 bg-white gap-2">
      <div class="flex w-full flex-row gap-2">
        <div class="flex-1 h-full bg-gray text-white p-2 rounded">A</div>
        <div class="flex-1 h-full bg-gray text-white p-2 rounded">B</div>
      </div>
      <div class="flex w-full flex-row gap-2">
        <div class="flex-1 h-full bg-gray text-white p-2 rounded">C</div>
        <div class="flex-4 h-full bg-gray text-white p-2 rounded">D</div>
      </div>
      <div class="flex w-full flex-row gap-2">
        <div class="flex-1 h-full bg-gray text-white p-2 rounded">E</div>
      </div>
    </div>
  </body>
</html>
